* {
	font-family: JetBrains Mono NL;
	font-size: 18px;
	border-radius: 2pt;
}

#window {
	color:#d8dee9;
	background-color: #070707;
	font-family: JetBrains Mono NL;
	border: 2px solid #d8dee9;
	font-size: 18px;
}
#input {
	color: #070707;
	background-color: #d8dee9;
	border: none;
}
#entry:selected {
	background-color: #070707;
	border: 0.11em solid #d8dee9;
	
}
